/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@plugin "daisyui";

* {
  font-family: "Poppins", sans-serif;
}
.navbar .active {
  color: #422ad5;
  font-weight: bold;
  border-radius: 0;
  border-bottom: 3px solid #422ad5;
}
.dark .navbar .active {
  color: white;
  font-weight: bold;
  border-radius: 0;
  border-bottom: 3px solid white;
}
.dashNav .active {
  color: #422ad5;
  font-weight: bold;
  border-radius: 0;
  border-bottom: 3px solid #422ad5;
}
.dark .dashNav .active {
  color: white;
  font-weight: bold;
  border-radius: 0;
  border-bottom: 3px solid white;
}

.btn-style {
  @apply bg-gradient-to-br from-[#422ad5]  to-black dark:shadow dark:shadow-slate-500 text-white border-none;
}
.card-style {
  @apply dark:bg-gradient-to-bl dark:from-[#422ad5]  dark:to-black;
}
.react-datepicker-wrapper {
  width: 100%;
}
